<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :Nom %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :Race %><br>
    <%= f.text_field :breed %>
  </div>
  
  <div class="field">
    <%= f.label :Date_de_Naissance %><br>
    <%= f.date_select :birthdate, {order: [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year, end_year: Date.today.year - 50} %>
  </div>
  
  <div class="field">
    <%= f.label :Genre %><br>
    <%= f.select :gender, ['Male', 'Female'] %>
  </div>

    <%= f.submit 'Valider', class: 'btn btn-success navbar-btn' %>
<% end %>
