<div class ="background-home">
    <div class = "welcome_shearch">
        <h1>Edition Chien</h1>
        
        <%= render 'form' %>
        
        <% if @pictures.present? %>
            <h2>Pictures</h2>
            
            <% unless @pictures.empty? %>
              <% @pictures.each do |pic| %>
                <div>
                  <%= image_tag pic.image.url %><br />
                  <%= link_to 'Delete', dog_picture_path(@dog, pic), method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            <% end %>
        <% end %>
        
        <%= link_to 'Montrer', dog_path(@dog) %> |
        <%= link_to 'Retour', dogs_path %>
    </div>
</div>
