<div class ="background-home">
  <div class="container">
  <p id="notice"><%= notice %></p>
  
  <h1>Vos chiens</h1>
  
  <div class="welcome_shearch">
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>
  
  
    <tbody>
      <% @dogs.each do |dog| %>
        <tr>
            <td><%= dog.name %></td>
            <td class="pading">(<%= dog.breed %>)</td>
            <td class="pading"><%= link_to 'Montrer', dog %></td>
            <td class="pading"><%= link_to 'Editer', edit_dog_path(dog) %></td>
            <td class="pading"><%= link_to 'Supprimer', dog, method: :delete, data: { confirm: 'Etes vous sur ?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 
  
  <br>
  
  <%= link_to 'Nouveau chien', new_dog_path %>
  </div>
   </div>
</div>