<div class ="background-home">
    <br>
        <h1 class="title_page">Résultat sur Race</h1>
        <%= search_form_for(@q) do |f| %>
        <% end %>
        <% @dogs.each do |dg| %>
            <div class = "brique_chien">
                <tr>
                    <p>
                        <strong>Nom :</strong>
                        <td><%= dg.name%></td>
                    </p>
                    
                    </p>
                        <strong>Race :</strong>
                        <td><%= dg.breed%></td>
                    <p>
                    
                    <p>
                        <strong>Age :</strong>
                          <% @age = Date.today.year - dg.birthdate.year %>
                          <%= @age -= 1 if Date.today < dg.birthdate + @age.years %>
                    </p>
                    
                    <p>
                        <strong>Genre :</strong>
                        <td><%= dg.gender%></td>
                    </p>
                    
                    
                    <p>
                        <strong>Localisation :</strong>
                        <td><%= dg.user.postal_code%></td>
                    </p>
                    
                    <td class="pading"><%= link_to 'Montrer', dg, class: 'btn btn-primary btn-xs' %></td>

                </tr>
            </div>
        <%end %>
    </div>
</div>
