<div class ="background-home">
    <br>
    <br>
    <div class = "brique_chien">
        <p id="notice"><%= notice %></p>
        
        <p>
            <strong>Nom :</strong>
            <%= @dog.name %>
        </p>
        
        <p>
            <strong>Race :</strong>
            <%= @dog.breed %>
        </p>
        
        <p>
            <strong>Age :</strong>
            <%= pluralize(@age, "an") %>
        </p>
        
        <p>
            <strong>Genre :</strong>
            <%= @dog.gender %>
        </p>
        
        
        <% if @pictures.present? %>
        
          <h2>Photos</h2>
          
          
          <% unless @pictures.empty? %>
            <% @pictures.each do |pic| %>
              <div>
                <%= image_tag pic.image.url %>
              </div>
            <% end %>
          <% end %>
        
        <% end %>
        
        <% if user_signed_in? %>
            <% if (current_user.id == @dog.user_id) %>
                <%= link_to 'Editer', edit_dog_path(@dog) %> |
            <% else %>
                <%= link_to "Contacter le propriétaire", conversations_path(sender_id: current_user.id, recipient_id: @dog.user_id), method: "post"%> |
            <% end %>
        <% end %>
        <%= link_to 'Retour', dogs_path %>
    </div>
</div>