<div class ="background-home">
    <div class = "welcome_shearch">
        <p id="notice"><%= notice %></p>
        
        <p>
            <strong>Nom :</strong>
            <%= @dog.name %>
        </p>
        
        <p>
            <strong>Race :</strong>
            <%= @dog.breed %>
        </p>
        
        <p>
            <strong>Date de Naissance :</strong>
            <%= @dog.birthdate %>
        </p>
        
        <p>
            <strong>Genre :</strong>
            <%= @dog.gender %>
        </p>
        
        
        <% if @pictures.present? %>
        
          <h2>Pictures</h2>
          
          
          <% unless @pictures.empty? %>
            <% @pictures.each do |pic| %>
              <div>
                <%= image_tag pic.image.url %>
              </div>
            <% end %>
          <% end %>
        
        <% end %>
        
        
        <%= link_to 'Editer', edit_dog_path(@dog) %> |
        <%= link_to 'Retour', dogs_path %>
    </div>
</div>