<div class ="background-home">
    <br>
    <br>
    <div class = "brique_chien">
        <p id="notice"><%= notice %></p>
        
        <p>
            <strong>Nom :</strong>
            <%= @dog.name %>
        </p>
        
        <p>
            <strong>Race :</strong>
            <%= @dog.breed %>
        </p>
        
        <p>
            <strong>Date de Naissance :</strong>
            <%= @dog.birthdate %>
        </p>
        
        <p>
            <strong>Genre :</strong>
            <%= @dog.gender %>
        </p>
        
        
        <%= link_to 'Editer', edit_dog_path(@dog) %> |
        <%= link_to 'Retour', dogs_path %>
    </div>
</div>